<table class="list">
  <thead><tr>
        <th><%= l(:field_entry_type) %></th>
        <th><%= l(:field_entry_name) %></th>
        <th><%= l(:field_entry_datetime) %></th>
        <th><%= l(:field_entry_size) %></th>
        <th><%= l(:field_entry_path) %></th>
        <th><%= l(:field_entry_server) %></th>
  </tr></thead>
  <tbody>
<% for entry in found_entries -%>
  <tr class="<%= cycle("odd", "even") %>">
        <td 
class="<%=(entry.directory? ? 'icon icon-folder' : "icon icon-file #{Redmine::MimeType.css_class_of(entry.name)}")%>">
<%= entry.type %></td>
	<td><%= entry.name %></td>
	<td>
<% if (entry.entry_datetime.hour + entry.entry_datetime.min + entry.entry_datetime.sec) == 0 %>
  <%= entry.entry_datetime.strftime("%Y-%m-%d") %>
<% else %>
  <%= entry.entry_datetime.strftime("%Y-%m-%d %H:%M:%S") %>
<% end %>
        </td>
	<td><%= number_to_human_size(entry.size) %></td>
	<td><%= entry.full_path %></td>
  	<td><a href="#" onclick="RedBox.showInline('server_info_<%=entry.ftp_server.id%>'); return false;"><%= entry.ftp_server.name %></a></td>
  </tr>
<% end -%>
  </tbody>
</table>