<script type="text/javascript">
//<![CDATA[
function check_select_status() {
  var checkboxs = $("server_select").getElementsByTagName("input");
  var none_select = new Boolean(true);
  for (var i = 0; i < checkboxs.length; i++)
  {
    if (checkboxs[i].checked)
    {
      none_select = false;
      break;
    }
  }
  if (none_select)
  {
    $("submit_button").disabled = true;
  }
  else
  {
    $("submit_button").disabled = false;
  }
}
//]]>
</script>

<% form_tag({:controller => 'ezftpsearch', :action => 'search'}, :method => :get ) do %>
  <table cellpadding="0" cellspacing="0">
    <tbody>
      <tr valign="top">
        <td nowrap="" align="center">
          <%= hidden_field_tag 'project_id', @project.identifier%>
          <%= text_field_tag 'fq', @ftp_question, :size => 45, :class => 'small' %>
          <%= submit_tag l(:button_search), :id => "submit_button" %>
        </td>
      </tr>
      <tr>
        <td align="center">
          <div id="server_select">
            <% for server in @ftp_servers -%>
              <%
                check_status = true
                if @checked_servers
                  check_status = @checked_servers.include?(server.id) ? true : false
                end
              %>
              <%= check_box_tag server.id, "1", check_status, :onchange => "check_select_status();" %>
              <label for="<%=server.id %>"><%=server.name %></label>
            <% end %>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
<% end %>