<div id="ezftpsearch">
  <table><tr valign="center">
  <td><%= image_tag "ezftpsearch.png", :plugin => "redmine_ezftpsearch"%></td>
  <td><%= render :partial => 'ezftpsearch/search_form' %></td>
  </tr></table>
</div>

<div id="ssb">
  <div id="prs"><b><%= l(:label_search_results) %></b></div>
  <p><%= l(:text_search_result, :count => @entry_count, :question => @ftp_question, :time => format("%.3f", @process_time)) %></p>
</div>
<p />
<% if !@found_entries || @found_entries.empty? %>
<p class="nodata"><%= l(:label_no_data) %></p>
<% else %>
<%= render :partial => 'ezftpsearch/list', :locals => {:found_entries => @found_entries} %>
<p class="pagination"><%= pagination_links_full @entry_pages, @entry_count %></p>
<% end %>

<% for server in @ftp_servers -%>
  <% if @checked_servers && (@checked_servers.include?(server.id)) %>
<div id="server_info_<%=server.id%>" class="redbox">
  <div style="float:right"><a href="#" onclick="RedBox.close(); return false;">[X]</a></div>
  <table border="0" cellspacing="6" cellpadding="6">
    <tr><td align="right" nowrap><%= l(:field_ftpserver_name) %></td><td nowrap><%= server.name %></td></tr>
    <tr><td align="right" nowrap><%= l(:field_ftpserver_host) %></td><td nowrap><%= server.host %></td></tr>
    <tr><td align="right" nowrap><%= l(:field_updated_on) %></td><td nowrap><%= format_time(server.updated_on) %></td></tr>
    <tr valign="top"><td align="right" nowrap><%= l(:field_notes) %></td><td><%= server.note %></td></tr>
  </table>
</div>
  <% end %>
<% end %>

<% content_for :header_tags do -%>
  <%= javascript_include_tag 'redbox.js', :plugin => 'redmine_ezftpsearch' %>
  <%= stylesheet_link_tag 'redbox.css', :plugin => 'redmine_ezftpsearch', :media => 'screen' -%>
  <%= stylesheet_link_tag 'ezftpsearch.css', :plugin => 'redmine_ezftpsearch', :media => 'screen' -%>
<% end -%>

<% html_title(l(:label_ezftpsearch)) -%>